# Ignore node_modules to avoid copying unnecessary local dependencies
node_modules

# Ignore npm logs
npm-debug.log

# Ignore environment variables
.env

# Ignore Dockerfile itself (optional)
Dockerfile

# Optional: VSCode and system files
.vscode
.DS_Store
